<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
<mat-card *ngIf="!isLoading" class="movie-card">
  <img
    mat-card-image
    src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
    alt="Poster"
  />
  <mat-card-header class="movie-card-header">
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ movie.vote_average.toPrecision(2) }}/10</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ movie.release_date.split("-")[0] }}
      {{ movie.original_language.toUpperCase() }}</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    {{ formatOverview(movie.overview) }}
  </mat-card-content>
</mat-card>
