<div class="root">
    <app-top-bar></app-top-bar>
    <div class="content">
      <h2>STEP 3 OF 3</h2>
      <form [formGroup]="form" (ngSubmit)="onNext()">
        <table>
          <thead>
            <tr>
              <th>Role</th>
              <th>Monthly Price</th>
              <th>Video Quality</th>
              <th>Resolution</th>
              <th>Watch on your TV</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of plans">
              <td>{{ plan.role }}</td>
              <td>{{ plan.monthlyPrice }}</td>
              <td>{{ plan.videoQuality }}</td>
              <td>{{ plan.resolution }}</td>
              <td>{{ plan.watchOnDevices }}</td>
              <td>
                <input type="radio" [value]="plan.role" formControlName="role" [id]="plan.role" />
  <label [for]="plan.role"></label>
  
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" mat-flat-button color="warn">Submit</button>
      </form>
    </div>
  </div>
  