.page-container {
  background-color: black;

  .header-container {
    width: 100%;
    height: max(50vw, 500px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
      url(../../assets/home-page/netflix_main.jpeg);

    .header-content {
      color: white;
      display: flex;

      flex-direction: column;
      align-items: center;
      height: 38vh;
      width: 100%;
      min-width: max-content;

      h1 {
        font-size: max(min(64px, 3.2vw), 30px);
        font-weight: 600;
      }
      h2 {
        font-size: max(min(24px, 2vw), 18px);
        font-weight: 200;
      }

      h3 {
        font-size: max(min(24px, 2vw), 18px);
        font-weight: 400;
      }

      .signup-container {
        display: flex;
        height: 60px;
        margin-top: 20px;
      }
      .email-signup {
        background: rgba(135, 206, 250, 0.25);
        color: white;
        width: 350px;
        border: 1px solid rgba(88, 177, 158, 0.9);
        border-radius: 5px;
        margin-right: 10px;
      }

      .signup-button {
        background-color: #e50914;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 24px;
        cursor: pointer;
        padding: 13px 27px;
        font-weight: 500;
      }
    }
  }

  .feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    height: 300px;
    background-color: black;

    .content {
      h1 {
        font-size: 40px;
        color: white;
      }
      h3 {
        font-size: 28px;
        color: white;
      }
    }

    .media1 {
      position: relative;
      height: 100%;

      .tv-image-1 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
      }

      #tv-video-1 {
        width: 100%;
      }
    }

    .media2 {
      position: relative;
      height: 100%;

      .tv-image-2 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }

      #tv-video-2 {
        width: 60%;
      }
    }

    .media3 {
      position: relative;
      height: 100%;
      width: 100%;
      .kid-image {
        width: max(300px, min(60%, 400px));
      }
    }
    .media4 {
        position: relative;
      .mobile-image-1 {
        width: 100%;
        display: block;
      }

      .mobile-box {
        position: absolute;
        top: 70%;
        left: 10%;
        width: 80%;
        height: 20%;
        background-color: black;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .mobile-image-2 {
        width: 15%;
      }
      .mobile-text {
        padding-left: 20px;
        flex-grow: 1;
        color: white;
      }
    }
  }

  .feature-break {
    height: 8px;
    background-color: rgb(24, 24, 24);
    border: 0;
  }
}
